In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('result/allzeorite/picupadress',index_col=0)
df

                 cifadress  Si_len
0    result/allzeorite/EDI       4
1    result/allzeorite/JBW       5
2    result/allzeorite/NPO       5
3    result/allzeorite/ABW       7
4    result/allzeorite/BCT       7
..                     ...     ...
225  result/allzeorite/IMF     287
226  result/allzeorite/TSC     383
227  result/allzeorite/PAU     671
228  result/allzeorite/LTN     767
229  result/allzeorite/SFV     783

[230 rows x 2 columns]

In [11]:
df.sample(100)

                 cifadress  Si_len
152  result/allzeorite/IRR      59
199  result/allzeorite/SBS      95
113  result/allzeorite/SOF      39
49   result/allzeorite/JRY      23
110  result/allzeorite/AFO      39
..                     ...     ...
91   result/allzeorite/CDO      35
76   result/allzeorite/JNT      31
106  result/allzeorite/SZR      35
137  result/allzeorite/UEI      47
63   result/allzeorite/SSY      27

[100 rows x 2 columns]

In [9]:
df[df.index<=150].Si_len.sum()

4600

In [5]:
from glob import glob

In [6]:
len(glob('cluster_dataset/*.csv'))

4128